a.pure-menu-link#menuLink(href="#menu")
  img(src="/img/navicon-png2x.png", width="20", alt="Menu toggle")
div.pure-u#menu
  div.pure-menu.pure-menu-open
    a.pure-menu-heading(href="/") Sunradar
    ul
      - if (user)
        div.l-vbox
          div.pure-form
            input.search-query#address(type="text", size="15", placeholder="Enter city")
      - var obj = { 'home':'Home', 'rate':'Rate', 'impressum': 'Impressum' }
        - each val, key in obj
          - if (active == key)
            li.pure-menu-selected
              a(id="#{key}", href='javascript:void(0)') #{val}
          - else
            // - if (user)
            li
              a(id="#{key}", href='javascript:void(0)') #{val}


    - if (user)
      ul
        li
          a(href='/logout') Logout
      p Logged in as &nbsp;
        strong #{user.username}
